.main {
   margin: 0 auto;
   padding: 0 30px;
   flex: 1 1 auto;
}

// .contact-block {
//    &__phone {
//       text-align: end;

//       padding: 15px 0;

//       font-size: 18px;
//       font-weight: 700;
//    }
//    &__social-network {
//       display: flex;
//       justify-content: end;
//    }
//    &__img {
//       width: 40px;
//       margin: 0 5px;
//       filter: brightness(0.9);
//    }
// }
