@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');

@import 'nullstylescc.scss';
@import 'header.scss';
@import 'main.scss';
@import 'services.scss';
@import 'footer.scss';
@import 'animation-string.scss';
@import 'price-block.scss';
@import 'btn-burger.scss';
@import 'gelery.scss';
@import 'contactPage.scss';

body {
   font-family: 'Lato', sans-serif;
   font-family: 'Open Sans', sans-serif;
   height: 100%;
}
.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   min-height: 100%;
   max-width: 1800px;
   margin: 0 auto;
   background-color: #e2e2e2;
   a {
      color: inherit;
   }
}

.black-window {
   display: none;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.77);

   width: 100%;
   height: 100%;
   z-index: 2;
}
